<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav">
        <div class="inner"><h1 class="logo">Top Rated</h1>
            <div>
                <img src="pngwing.com.png" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Naruto_logo.svg" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/82-822817_power-photo-gallery-power-tv-show-logo.png" alt="" class="logoimg"> 
                <img src="pngegg.png"  class="logoimg"> 
                <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_750/https://assets.designhill.com/design-blog/wp-content/uploads/2023/05/1-15.jpg"  class="logoimg"> 
                <img src="bleach.jpg"  class="logoimg">
                <img src="Bleachimg.png"  class="logoimg">
                <img src="HUNTER-x-HUNTER-LOGO-PNG7.png" class="logoimg"> 
                <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_750/https://assets.designhill.com/design-blog/wp-content/uploads/2023/05/1-14.jpg" class="logoimg"> 

            </div>
        </div>
    </div>
    <a href="/shows/new">Add Show</a>
    <%shows.forEach(element => { %>
        <a href="/shows/<%=element._id%>"%>><h1><%= element.showName %></h1></a>
    <%});  %>

    
</body>
</html>