<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<style>
    .itemone{
        width: 300px;
        height: 300px;
        margin-top: 10px;
    }
    img{
        width: 300px;
        height: 300px;
        transition: .2s;
    }
    img:hover{
        transform: scale(1.05);
    }
    .container{
        width: 300px;
        height: 400px;
    }
    .bottomdiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .itemthree{
        margin-left: 16px;
        position: relative;
        margin: 0 auto;
        top: 4px;
    }
    .itemtwo{
        margin-left:  4px;
    }
    .diviver{
        height: 100px;
    }
</style>
<body>
    <div class="nav">
        <div class="inner">
            <a href="/shows"><h1 class="logo">Top Rated</h1></a>
            <div>
                <img src="pngwing.com.png" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Naruto_logo.svg" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/82-822817_power-photo-gallery-power-tv-show-logo.png" alt="" class="logoimg"> 
                <img src="pngegg.png"  class="logoimg"> 
                <img src="Bleachimg.png"  class="logoimg">
                <img src="friends.png" class="logoimg"> 
                <img src="breaking.png" class="logoimg">
                <img src="soul.png" class="logoimg">
                <img src="squidgame.png" class="logoimg">
                <img src="theoffice.jpeg" class="logoimg">
                <img src="HXH.png" class="logoimg">
                <img src="strange.png" class="logoimg">
            </div>
            <div class="add"><a href="/shows/new">Add A Show</a></div>
        </div>
    </div>
    
    <div class="allimages">
        <%shows.forEach(element => { %>
        <div class="container">
            <div class="itemone" >
                <img src="https://w0.peakpx.com/wallpaper/454/815/HD-wallpaper-naruto-art-fictional-character-thumbnail.jpg" alt="">
            </div>
            <div class="bottomdiv">
                <div class="itemtwo">
                    <a href="/shows/<%=element._id%>"%>><h2><%= element.showName %></h2></a>
                </div>

                <div class="itemthree">
                    <% let stars = "" %>
                    <% for(let i = 0; i < element.Rating; i++){%>
                    <% stars+="â­" }%>
                    <a href="/shows/<%=element._id%>"%>><h3><%= stars %></h3></a>
                </div>
            </div>
        </div>
        <%});  %>
    </div>

</body>
</html>