<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav">
        <div class="inner">
            <a href="/shows"><h1 class="logo">Top Rated</h1></a>
            <div>
                <img src="pngwing.com.png" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Naruto_logo.svg" alt="" class="logoimg"> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/82-822817_power-photo-gallery-power-tv-show-logo.png" alt="" class="logoimg"> 
                <img src="pngegg.png"  class="logoimg"> 
                <img src="Bleachimg.png"  class="logoimg">
                <img src="friends.png" class="logoimg"> 
                <img src="breaking.png" class="logoimg">
                <img src="soul.png" class="logoimg">
                <img src="squidgame.png" class="logoimg">
                <img src="theoffice.jpeg" class="logoimg">
                <img src="HXH.png" class="logoimg">
                <img src="strange.png" class="logoimg">
            </div>
            <div class="add"><a href="/shows/new">Add A Show</a></div>
        </div>
    </div>
    <%shows.forEach(element => { %>
        <a href="/shows/<%=element._id%>"%>><h1><%= element.showName %></h1></a>
    <%});  %>

</body>
</html>