<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<style>
    div{
        background-color: white;
    }
    input[type='number']{
    width: 80px;
} 
</style>
<body>
    <h1>Add A New Show</h1>
    <div>
        <form action="/shows" method="post">
            <labl>Show name:<input type="text" name="showName" placeholder="Showname" required></labl><br>
            <label > Year watched: <input type="text" name="yearCompleted" placeholder="Year you saw the show"></label><br>
            <label>Stars:<input type="number" name="Rating" placeholder="Out of 5" max="5" min="1" ></label><br>
            <label> Show image:<input type="text" name="showImg" placeholder="Image of your show"></label><br>
            <label> Would Recommend: <input type="checkbox" name="wouldRecommend"> </label><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>