<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new route</h1>
    <form action="/shows" method="post">
        <labl>Show name:<input type="text" name="showName" placeholder="Showname"> </labl>
        <label > Year watched: <input type="text" name="yearCompleted" placeholder="Year you saw the show"></label>
        <input type="number" name="Rating" placeholder="Out of 5">
        <input type="checkbox" name="wouldRecommend">
        <input type="submit">
    </form>
</body>
</html>