<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>show time</h1>
    <h2><label>Show Name: <%= show.showName %> </label> </h2>
    <h2><label>Year Completed: <%= show.yearCompleted %></h2> </label>
    <h2> <label>Rating: <%= show.Rating %> </label></h2>
    <h2> <label>wouldRecommend: <%= show.wouldRecommend %></h2> </label>
    <a><button>edit</button></a>
</body>
</html>