h1{
    color: aqua;
}
body{
    background-color: black;
    margin: 0px;
    
    
}

.nav{
    background-color: #212127;
    margin-top: 0px;
    right: 0px;
}

.logo{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
}

.inner{
    background-color: burlywood;
    padding: 0px 16px;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.logoimg{
    width: 40px;
    height: 40px;
}

.add{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.end{
    justify-self: end;
}

.allimages{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


